@font-face {
    font-family: 'SST';
    src: url('path/to/sst.woff2') format('woff2'),
         url('path/to/sst.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: Arial, Helvetica, sans-serif;
}

figure{
    overflow: hidden;
}

iframe{
    height: 770px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.5s ease; 
    z-index: 1; 
}

.active{
    opacity: 1;
    visibility: visible;
}

img, iframe{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#btn-accedi{
    border: none;
    padding: 5px 15px;
}
.button-def{
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;

}

.blue{
    color: rgb(47, 110, 197);
}

.bg-def-blue{
    background-color: rgb(47, 110, 197);
    color: white;
}

.hidden {
    opacity: 0; /* Nascosto */
}

/* Header */
header h1{
    margin: 0;
    padding: 6px 7px;
    height: fit-content;

    background-color: black;
    color: white;

    font-weight: 400;
    font-size: 20px;
    text-align: end;
}

/* Nav */
nav{
    display: flex;
    margin: 0 22px;
    padding: 7px 0;
}

nav figure{
    margin: 0 0 0 ;
}

nav ul li a:hover{
    color: rgb(47, 110, 197);
}

/* Nav Left */
nav .left{
    flex-basis: 70%;
}

nav ul{
    margin-bottom: 0;
}

nav ul li i{
    margin-left: 5px;
    color: gray;
    font-size: smaller;
}

nav .left li{
    list-style: none;
    margin-right: 5px;
}

nav a{
    font-size: 18px;
    text-decoration: none;
    color: black;
}

/* Nav Right */
nav .right{
    flex-grow: 1;
}

nav .right li{
    list-style: none;
    align-self: center;
}

nav .right button{
    margin-left: 20px;
    border-radius: 20px;
    height: fit-content;
    padding: 5px 10px;
}

nav .right button:hover{
    background-color: rgb(34, 83, 148);
}

nav .right button:active{
    background-color: rgb(46, 108, 193);
}

nav .right i{
    color: #333;
    margin-left: 20px;
}

nav .right i:hover{
    color: rgb(46, 108, 193);
}

nav .right i:active{
    color: rgb(34, 83, 148);
}

/* Top page image */
.top-img-container > figure:first-of-type{
    width: 100%; 
    height: 770px;
}

.top-img-content{
    width: auto;
    margin-left: 245px;

    top: 50%;
    transform: translateY(-50%);

    color: white;
    font-size: 18px;

    transition: opacity 0.5s ease
}

.top-img-content h4{
    font-size: 40px;
    font-family: 'SST', Arial, sans-serif;
    text-shadow: 0 0 1px #2980b9;
}

.top-img-content h4, p{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.top-img-content figure{
    position: relative;
    left: -15px;
}

.top-img-content figure img{
    right: 15px;
    width: 350px;
}

.top-img-content button{
    text-shadow: rgb(76, 78, 158);
}

.top-img-content button:hover{
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient( #2980b9, #663399);
    color: white;

}

.top-img-content button:active{
    background: linear-gradient(#fff, #fff);
    color: black;
    cursor: pointer;
}

/* Carousel */
.thumb-card{
    height: 120px;
    width: 210px;
}
